.item{
  height: 100rpx;
  display: flex;
  align-items: center;
  .icon{
    height: 100rpx;
    width: 100rpx;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(252,252,252);
    .img{
      height: 34rpx;
      width:34rpx;
    }
  }
  .right{
    height: 100rpx;
    width: 100rpx;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    .img{
      height:34px;
      width:34px;
    }
  }
}
.itemHover{
  .item();
  background-color: rgb(240,240,240);
  .icon{
    background-color: rgb(237,237,237);
    border-right: 1px solid #eeeeee;
  }
}