.wrapper{
  .label{
    font-size: 28rpx;
    font-weight: bold;
    padding-bottom: 12rpx;
  }
  .input{
    border:2rpx solid var(--color-border);
    height: 40rpx;
    padding: 10rpx 20rpx;
    border-radius: 16rpx;
    background-color: var(--color-bg-input);
  }
  .extra{
    margin-top: 5rpx;
    font-size: 22rpx;
    color: var(--color-text);
  }
}