.wrapper{
  .label{
    font-size: 28rpx;
    font-weight: bold;
    padding-bottom: 12rpx;
  }
  .inputWrapper{
    display: flex;
    .deleteWrapper{
      display: flex;
      align-items: center;
      justify-content: center;
      border:2rpx solid var(--color-border);
      margin-left: 4rpx;
      background-color: #5C89F2;
      border-radius: 16rpx;
      padding:0 8rpx;
      .delete{
        height: 40rpx;
        width: 40rpx;
      }
    }
  }
  
  .input{
    flex:1;
    border:2rpx solid var(--color-border);
    height: 40rpx;
    padding: 10rpx 20rpx;
    border-radius: 16rpx;
    background-color: var(--color-bg-input);
  }
  .extra{
    margin-top: 5rpx;
    font-size: 22rpx;
    color: var(--color-text);
  }
}