.textarea{
  width: 100%;
  border:2rpx solid #efefef;
  border-radius: 16rpx;
  background-color: rgb(247,247,247);
  box-sizing: border-box;
  min-height: 500rpx;
  padding: 20rpx;
}
.label{
  font-size: 28rpx;
  font-weight: bold;
  padding-bottom: 12rpx;
}