.container{
  .logo{
    height:40rpx;
    width:40rpx;
  }
}

.wrapper{
  padding: 40rpx;
  display: flex;
  flex-direction: column;
  .img{
    width: 150rpx;
    height: 150rpx;
    margin: 30rpx auto 30rpx;
  }
}

.slogan{
  font-size: 34rpx;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 40rpx;
  letter-spacing: .05em;
}