.wrapper{
  padding: 10rpx;
  display: flex;
  align-items: center;
  justify-content: space-around;
  .img{
    width: 80rpx;
    height: 80rpx;
  }
  .slogan{
    font-size: 32rpx;
    font-weight: bold;
    text-align: center;
    letter-spacing: .05em;
  }
}
